In [277]:
import pandas as pd

In [278]:
data=pd.read_csv(r'C:\Users\saket\Desktop\DATASETS\us_university.csv')

In [280]:
data.head(2)

,SCHOOL,STATE,CITY,NOC,PROGRAM,TYPE,DEPARTMENT,DELIVERY,DURATION,PREREQ,...,RESEARCH,CITATIONS,INCOME,TOTAL_SCORE,NUM_STUDENTS,STUDENT_STAFF_RATIO,INTERNATIONAL_STUDENTS,F_M_RATIO,YEAR,timesData
0,Albright College,Pennsylvania,Reading,1,M.S. in Business Intelligence,M,Erivan K. Haub School of Business,Online,30 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,American Sentinel University,Colorado,Aurora,1,Master of Science Business Intelligence and An...,M,Not Available,Online,36 credits,Not Available,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [270]:
state_data=data.groupby('STATE')#datasets get group by states 
state_data.get_group('Colorado').set_index('CITY')

,SCHOOL,STATE,NOC,PROGRAM,TYPE,DEPARTMENT,DELIVERY,DURATION,PREREQ,LINK,...,RESEARCH,CITATIONS,INCOME,TOTAL_SCORE,NUM_STUDENTS,STUDENT_STAFF_RATIO,INTERNATIONAL_STUDENTS,F_M_RATIO,YEAR,timesData
CITY,,,,,,,,,,,,,,,,,,,,,
Aurora,American Sentinel University,Colorado,1,Master of Science Business Intelligence and An...,M,Not Available,Online,36 credits,Not Available,http://www.americansentinel.edu/management/m-s...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Denver,Aspen University,Colorado,1,Master of Science in Technology and Innovation...,M,Not Available,Online,36 credits,Not Available,http://www.aspen.edu/degrees/masters-degree/ma...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Fort Collins,Colorado State University-Fort Collins,Colorado,1,Master of Applied Statistics (M.A.S.),M,Department of Statistics,Online,31 credits,"math, statistics",http://www.online.colostate.edu/degrees/applie...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Greenwood Village,Colorado State University-Global Campus,Colorado,1,Certificate in Business Intelligence,C,Not Available,Online,12 credits,Not Available,https://csuglobal.edu/graduate/programs/certif...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Colorado Springs,Colorado Technical University,Colorado,1,Doctor of Computer Science - Concentration in ...,M,Computer Science Department,Online,96 Credit Hours,Not Available,http://www.coloradotech.edu/degrees/doctorates...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Denver,Regis University,Colorado,1,Graduate Certificate in Data Science,C,College of Computer and Information Sciences,Online,12 credit hours,Not Available,http://www.regis.edu/CCIS/Academics/Degrees-Pr...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Boulder,University of Colorado Boulder,Colorado,1,Master of Science in Business Administration-B...,M,Leeds School of Business,Campus,33 credits,Not Available,http://www.colorado.edu/leedsms/ms-programs,...,33.3,97.3,-,53.4,"29,325",16.1,8%,45:55:00,2014.0,1
Boulder,University of Colorado Boulder,Colorado,1,Master of Science in Business Administration-B...,M,Leeds School of Business,Campus,33 credits,Not Available,http://www.colorado.edu/leedsms/ms-programs,...,38.3,97.4,-,55.1,"29,325",16.1,8%,45:55:00,2015.0,1
Boulder,University of Colorado Boulder,Colorado,1,Master of Science in Business Administration-B...,M,Leeds School of Business,Campus,33 credits,Not Available,http://www.colorado.edu/leedsms/ms-programs,...,58.1,83.4,-,61.6,"29,325",16.1,8%,45:55:00,2011.0,1
Boulder,University of Colorado Boulder,Colorado,1,Master of Science in Business Administration-B...,M,Leeds School of Business,Campus,33 credits,Not Available,http://www.colorado.edu/leedsms/ms-programs,...,44.4,97.1,-,58.7,"29,325",16.1,8%,45:55:00,2013.0,1
Boulder,University of Colorado Boulder,Colorado,1,Master of Science in Business Administration-B...,M,Leeds School of Business,Campus,33 credits,Not Available,http://www.colorado.edu/leedsms/ms-programs,...,37.6,96.4,35.7,55.8,"29,325",16.1,8%,45:55:00,2016.0,1
Boulder,University of Colorado Boulder,Colorado,1,Master of Science in Business Administration-B...,M,Leeds School of Business,Campus,33 credits,Not Available,http://www.colorado.edu/leedsms/ms-programs,...,42.6,98.2,-,57.3,"29,325",16.1,8%,45:55:00,2012.0,1
Denver,University of Colorado Denver,Colorado,4,Graduate Applied Statistics Certificate,C,College of Arts and Sciences: Department of Ma...,Campus,13 hours,statistics,http://www.ucdenver.edu/academics/colleges/CLA...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Denver,University of Colorado Denver,Colorado,4,MS in Business Analytics - Big Data Specializa...,M,Business School,Campus,30 credits,Not Available,http://www.ucdenver.edu/academics/colleges/CLA...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Denver,University of Colorado Denver,Colorado,4,MS in Decision Sciences,M,Business School,Campus,30 hours,Not Available,http://catalog.ucdenver.edu/preview_program.ph...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Denver,University of Colorado Denver,Colorado,4,MS in Information Systems - Business Intelligence,M,Business School,Online,30 credits,Not Available,http://www.ucdenver.edu/student-services/resou...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Denver,University of Denver,Colorado,2,Business Information and Analytics Certificate,C,Daniels College of Business,Campus,16 credits,Not Available,http://daniels.du.edu/academic-programs/certif...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
Denver,University of Denver,Colorado,2,Master of Science in Business Analytics,M,Daniels College of Business,Campus,"12-36 months, 58 credits",Not Available,http://daniels.du.edu/academic-programs/certif...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [180]:
new_data=pd.DataFrame()#-< this he data fram used for practicegive3n by sendtex
for states ,states_data in data.groupby('STATE'):
    if new_data.empty:
        new_data=states_data.set_index('CITY')[['STATE']].rename(columns={'STATE':states})
    else:
        new_data=new_data.join(states_data.set_index('CITY')[['STATE']].rename(columns={'STATE':states}))

In [181]:
new_data

,Alabama,Arizona,Arkansas,California,Colorado,Connecticut,District of Columbia,Florida,Georgia,Hawaii,...,Oklahoma,Pennsylvania,South Carolina,South Dakota,Tennessee,Texas,Virginia,Washington,West Virginia,Wisconsin
CITY,,,,,,,,,,,,,,,,,,,,,
Auburn University,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auburn University,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Birmingham,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Huntsville,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tuscaloosa,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tuscaloosa,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tuscaloosa,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tuscaloosa,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [271]:
n_data=pd.DataFrame()#<- data set created by own
state_data=data.groupby('STATE')#datasets get group by sta

In [272]:
for states, states_data in state_data:
    if n_data.empty:
        n_data=state_data.get_group(states).set_index('CITY')[['STATE']].rename(columns={'STATE':states})
    else:
          n_data=n_data.join(state_data.get_group(states).set_index('CITY')[['STATE']].rename(columns={'STATE':states}))

In [281]:
n_data.head(5)

,Alabama,Arizona,Arkansas,California,Colorado,Connecticut,District of Columbia,Florida,Georgia,Hawaii,...,Oklahoma,Pennsylvania,South Carolina,South Dakota,Tennessee,Texas,Virginia,Washington,West Virginia,Wisconsin
CITY,,,,,,,,,,,,,,,,,,,,,
Auburn University,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Auburn University,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Birmingham,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Huntsville,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tuscaloosa,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [284]:
n_data.describe()#<- it gives the basic Stats for the data

,Alabama,Arizona,Arkansas,California,Colorado,Connecticut,District of Columbia,Florida,Georgia,Hawaii,...,Oklahoma,Pennsylvania,South Carolina,South Dakota,Tennessee,Texas,Virginia,Washington,West Virginia,Wisconsin
count,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
unique,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
top,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [319]:
import numpy as np
n_data=n_data.replace(0,np.NaN).dropna(axis=1)

In [320]:
n_data

                   Alabama
CITY
Auburn University  Alabama
Auburn University  Alabama
Birmingham         Alabama
Huntsville         Alabama
Tuscaloosa         Alabama
Tuscaloosa         Alabama
Tuscaloosa         Alabama
Tuscaloosa         Alabama

In [296]:
n_data.columns

Index(['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Connecticut', 'District of Columbia', 'Florida', 'Georgia', 'Hawaii',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Missouri', 'Montana', 'Nebraska', 'New Hampshire', 'New Jersey',
       'New Mexico', 'New York', 'North Carolina', 'Ohio', 'Oklahoma',
       'Pennsylvania', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas',
       'Virginia', 'Washington', 'West Virginia', 'Wisconsin'],
      dtype='object')

In [318]:
#n_data.isnull()

In [315]:
#_data['Arizona'].isnull().values.any()<- for checking the values